<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tiendaLista.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>
    <div id="sidebar">
        <h1>Bienvenido</h1><br>
        <ul>
            <li>
                <button id="sidebar-button">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="mi-restaurante">Mi restaurante</span>
                </button>
            </li>
        </ul>
    </div>
    <div id="main-content">

        <h1>Mis restaurantes</h1>

        <div id="card-container">
            
            <form action="/menu/lista/" method="get"></form>
            {{#each lista}}
            <div id="card1">
                <div id="card-image">
                    <img src="/img/logo1.jpg" alt="DigitalWaiter" height="60px">
                </div>
                <br>
                <b>Nombre del Restaurante: </b>{{restaurantName}}
                <button id="edit-btn"><a href="/tienda/editar/{{idRestaurante}}">Editar</a></button>
                <button id="manage-btn"><a href="/dashboard/{{idRestaurante}}">Gestionar</a></button>
            </div> 
            {{/each}}
            <div id="card2">
                <h3>Agregar<br> restaurante</h3>
                <button><a href="/agregar"><img src="/img/plus.png"></a></button>
            </div>
            
        </div>
    </div>
</body>
</html>

