@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body::after {
    content: "";
    background: url(../img/fondo.png);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #F3DBC3;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
}
#sidebar h1 {
    font-size: 39px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    font-weight: 900;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #333333;
    color: #333333;
    text-align: center;
    cursor: pointer;
}
#sidebar ul li:last-child {
    border-bottom: none;
}
#main-content {
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main-content h1 {
    text-align: left;
    margin-top: 60px;
    margin-left: 150px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid #000000;
    font-size: 20px;
}
#carrito-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left; /* Cambia 'center' por 'left' */
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    border-bottom: 1px solid #333333;
}
#dashboard-button,
#menu-button,
#metodos-button,
#visualizar-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left;
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    background-color: transparent;
    border: none;
}
#dashboard-button img,
#menu-button img,
#carrito-button img,
#metodos-button img,
#visualizar-button img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: -20px;
}

#dashboard-button a,
#menu-button a,
#carrito-button a,
#metodos-button a,
#visualizar-button a{
    text-decoration: none;
    color: #333333;
}
#logoizquierdo{
    width: 250px;
    height: 60px;
    margin-top: 100px;
}

#user-info {
    align-items: right;
    text-align: left;
}
#user-info h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 850px;
    margin-top: -70px;
    font-family: 'Montserrat', sans-serif;
}
#user-info p {
    font-size: 15px;
    text-align: left;
    margin-left: 850px;
    font-family: 'Montserrat', sans-serif;
}
#user-info a img{
    margin-left: 740px;
    margin-top:-55px;
    height: 23px;
    width: 23px;
}
#user-info img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 785px;
    margin-top: -70px;
}
/*tablas grandes*/
#container{
    width: 1050px;
    height: 660px;
    margin: auto; /* Esto centra horizontalmente */
    margin-left: 350px;
}
#actividad{
    margin-top: 20px;
    margin-left: 60px;
    height: 640px;
    width: 400px;
    display: inline-block;
}
#actividad h1{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 200px;
    font-size: 30px;
}
#actividad h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #0066FF;
    margin-top: -10px;
}
#actividad-tarjeta{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/confirmarpedido.jpeg);
    border-radius: 20px;
    height: 570px;
    width: 400px;
    margin-top: 5px;
}
#actividad-tarjeta h1{
    color: #FC6060 ;
    text-align: left;
    font-size: 33px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 30px;
}
#platos{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 15px;

}
#platos h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#total h3{
    font-family: 'Montserrat', sans-serif;
    color: #D6C0C0;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    padding-right: 30px;
}
#comprobante{
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
    width: 350px;
    height: 150px;
    border-radius: 10px;
}
#comprobante h1{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
}
#comprobante-foto{
    background-color: #CCC5C5;
    border-radius: 10px;
    margin-left: 20px;
    width: 310px;
    height: 100px;
}
#comprobante-foto h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #2AB548;
    font-weight: bold;
    margin-bottom: -15px;
    padding-left: 10px;
}
#comprobante-foto hr{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}
#comprobante-foto h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-top: -10px;
    padding-left: 10px;
}
#comprobante-foto h1{
    font-family: 'Montserrat', sans-serif;
    margin-top: -7px;
    font-weight: 500;
    font-size: 15px;
}
#conf-btn{
    background-color: #0085FF;
    border: none;
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}
#close-btn{
    background-color: #CCC5C5;
    border: none;
    display: block;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 15px;
}
#actividad, #limitantes {
    vertical-align: top;
}
#limitantes{
    height: 500px;
    width: 450px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
}
#limitantes button{
    background-color: #CCC5C5;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    float: right;
    margin-top: -40px;
}
#limitantes a{
    color: #000000;
    text-decoration: none;
}
#limitantes-fondo{
    background-image: url(../img/hojafondo.PNG);
    height: 570px;
    width: 450px;
    border: 2px solid #000000;
    margin-top: 15px;
    border-radius: 10px;
}  
#categorias{
    background-color: #F2F9F4;
    height: 520px;
    width: 400px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
#categorias h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px
}
#secciones {
    padding-left: 20px;
    margin-top: 20px;
    display: flex; /* Añade esta línea */
    justify-content: space-between; /* Añade esta línea */
}

#izquierda, #derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#izquierda button{
    margin-top: -5px;
}
#derecha{
    margin-right: 20px;
    margin-top: 40px;
}
#derecha button{
    background-color: #eb9090;
    width: 150px;
    height: 30px;
    border: none;
}
#secciones h2{
    font-size: 25px;
    font-weight: bold;
} 
#secciones h4{
    font-size: 15px;
    color: #FF0000;
    font-weight: bold;
}
#editar{
    background-color: #CECBCB;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

#editar a{
    color: #000000;
}

hr{
    background-color: #000000;
    width: 80%;
    margin-left: 35px;
    margin-top: 10px;
}

@media (max-width: 720px){
    * {
        margin: 0;
        padding: 0;
    }
    body::after {
        content: "";
        background: url(../img/fondo.png);
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #sidebar {
        position: fixed;
        width: 100px;
        height: 100%;
        background: #F3DBC3;
        box-sizing: border-box;
        overflow: auto;
        box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
    }
    #sidebar h1{
        display: none;
    }
    #sidebar h2{
        display: none;
    }
    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #sidebar ul li:last-child {
        border-bottom: none;
        margin-left: -10px;
    }
    #carrito-button{
        background-color: #FFFBF0;
        cursor: pointer;
        float: left;
        height: 70px;
        width: 65px;
        border-radius: 0 10px 10px 0;
        border: 3px solid #333333;
    }
    #dashboard-text,
    #menu-text,
    #carrito-text,
    #metodos-text,
    #visualizar-text {
        display: none;
    }
    #dashboard-button img,
    #menu-button img,
    #carrito-button img,
    #metodos-button img,
    #visualizar-button img {
        width: 40px;
        height: 40px;
    }
    #logoizquierdo{
        display: none;
    }
    #user-info {
        align-items: right;
        text-align: left;
    }
    #user-info h2 {
        display: none;
    }
    #user-info p {
        display: none;
    }
    #user-info a img{
        margin-left: 400px;
        margin-top:-40px;
        height: 23px;
        width: 23px;
    }
    #user-info img {
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 450px;
        margin-top: -50px;
    }
    #main-content {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #main-content h1 {
        text-align: left;
        margin-top: 20px;
        margin-left: 50px;
        font-weight: bold;
        border-bottom: none;
        font-family: 'Montserrat', sans-serif;  
        font-size: 25px;
    }
    #container{
        width: 580px;
        height: 1200px;
        margin: auto; /* Esto centra horizontalmente */
        margin-left: 120px;
    }
    #actividad{
        margin-top: 10px;
        margin-left: 30px;
        height: 560px;
        width: 500px;
    }
    #actividad h1{
        font-family: 'Montserrat', sans-serif;
        color: #000000;
        font-weight: 200px;
        font-size: 30px;
    }
    #actividad h3{
        display: none;
    }
    #actividad-tarjeta{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/confirmarpedido.jpeg);
        border-radius: 20px;
        margin-top: -10px;
        height: 520px;
        width: 500px;
    }
    #actividad-tarjeta h1{
        color: #FC6060 ;
        text-align: left;
        font-size: 33px;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 30px;
    }
    #platos{
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        padding-left: 30px;
        padding-top: 15px;
    
    }
    #platos h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    #total h3{
        font-family: 'Montserrat', sans-serif;
        color: #D6C0C0;
        font-size: 15px;
        font-weight: bold;
        text-align: right;
        padding-right: 30px;
    }
    #comprobante{
        background-color: #FFFFFF;
        margin-left: 20px;
        margin-top: 20px;
        width: 460px;
        height: 150px;
        border-radius: 10px;
    }
    #comprobante h1{
        font-family: 'Montserrat', sans-serif;
        color: #000000;
        font-weight: bold;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 5px;
    }
    #comprobante-foto{
        background-color: #CCC5C5;
        border-radius: 10px;
        margin-left: 20px;
        width: 420px;
        height: 100px;
    }
    #comprobante-foto h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #2AB548;
        font-weight: bold;
        margin-bottom: -15px;
        padding-left: 10px;
    }
    #comprobante-foto hr{
        font-family: 'Montserrat', sans-serif;
        background-color: #000000;
    }
    #comprobante-foto h4{
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        margin-top: -10px;
        padding-left: 10px;
    }
    #comprobante-foto h1{
        font-family: 'Montserrat', sans-serif;
        margin-top: -7px;
        font-weight: 500;
        font-size: 15px;
    }
    #conf-btn{
        background-color: #0085FF;
        border: none;
        display: block;
        width: 250px;
        height: 50px;
        border-radius: 20px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        font-weight: 500;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 20px;
    }
    #close-btn{
        background-color: #CCC5C5;
        border: none;
        display: block;
        width: 250px;
        height: 50px;
        border-radius: 20px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 15px;
    }
    #limitantes{
        height: 500px;
        width: 450px;
        display: inline-block;
        margin-top: -5px;
        margin-left: 70px;
    }
}