@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body::after {
    content: "";
    background-color: #faffe6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgba(241, 255, 201, 0.7);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
}
#sidebar h1 {
    font-size: 39px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    font-weight: 900;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #333333;
    color: #333333;
    text-align: center;
    cursor: pointer;
}
#sidebar ul li:last-child {
    border-bottom: none;
}
#main-content {
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main-content h1 {
    text-align: left;
    margin-top: 50px;
    margin-left: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#metodos-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left; /* Cambia 'center' por 'left' */
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    border-bottom: 1px solid #333333;
}
#dashboard-button,
#menu-button,
#carrito-button,
#visualizar-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left;
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    background-color: transparent;
    border: none;
}
#dashboard-button img,
#menu-button img,
#carrito-button img,
#metodos-button img,
#visualizar-button img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: -20px;
}

#dashboard-button a,
#menu-button a,
#carrito-button a,
#metodos-button a,
#visualizar-button a{
    text-decoration: none;
    color: #333333;
}
#user-info {
    align-items: right;
    text-align: left;
}
#user-info a img{
    margin-left: 1060px;
    margin-top:-42px;
    height: 23px;
    width: 23px;
}
#user-info img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1100px;
    margin-top: -55px;
}
#lineahorizontal{
    background-color: #000000;
    border-top: 2px solid black;
    margin-top: 5px;
    width: 100%;
    float: right;
}
#card-general {
    background-image: url(../img/fondoformulario.png), linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    background-blend-mode: lighten;
    background-size: cover; /* Para que la imagen cubra todo el div */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; 
    width: 900px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 470px;
    margin-top: 60px;
    border-radius: 20px;
}
#card-general  a{
    text-decoration: none;
}
#card-general img{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-left: -100px;
}
#card-general form {
    margin-top: 40px; /* Ajusta el margen superior del formulario según tus necesidades */
    margin-right: 50px;
}

#card-general label {
    display: block;
    font-size: 30px; /* Ajusta el tamaño de la fuente de las etiquetas según tus necesidades */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #F5F5DC;
}
#card-general input {
    font-family: 'Montserrat', sans-serif;
    background-color: #E3E2E2;
    width: 800px;
    height: 50px;
    font-size: 20px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Añade espacio entre los inputs */
    border-radius: 10px;
    padding-left: 20px;
    border: none;
}
#estado h1{
    color: #F5F5DC;
    font-size: 30px;
}
/*#estado label{
    color: #000000;
    margin-left: -50px;
}

#activo, #inactivo, #pendiente {
    background-color: #E3E2E2;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#activo input, #inactivo input, #pendiente input {
    background-color: aqua;
    width: 40px;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
} */
#listo-btn{
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    height: 50px;
    display: block;
    margin-left: 250px;
    margin-top: 70px;
    border-radius: 20px;
    border: none;
    background-color: #0085FF;
    font-size: 30px;
    color: #FFFFFF;
}
@media (max-width: 720px){
    * {
        margin: 0;
        padding: 0;
    }
    body::after {
        content: "";
        background: url(../img/fondo.png);
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #sidebar {
        position: fixed;
        width: 100px;
        height: 100%;
        background: #F3DBC3;
        box-sizing: border-box;
        overflow: auto;
        box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
    }
    #sidebar h1{
        display: none;
    }
    #sidebar h2{
        display: none;
    }
    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #sidebar ul li:last-child {
        border-bottom: none;
        margin-left: -10px;
    }
    #metodos-button{
        background-color: #FFFBF0;
        cursor: pointer;
        float: left;
        height: 70px;
        width: 65px;
        border-radius: 0 10px 10px 0;
        border: 3px solid #333333;
    }
    #dashboard-text,
    #menu-text,
    #carrito-text,
    #metodos-text,
    #visualizar-text {
        display: none;
    }
    #dashboard-button img,
    #menu-button img,
    #carrito-button img,
    #metodos-button img,
    #visualizar-button img {
        width: 40px;
        height: 40px;
    }
    #logoizquierdo{
        display: none;
    }
    #user-info {
        align-items: right;
        text-align: left;
    }
    #user-info h2 {
        display: none;
    }
    #user-info p {
        display: none;
    }
    #user-info a img{
        margin-left: 400px;
        margin-top:-40px;
        height: 23px;
        width: 23px;
    }
    #user-info img {
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 450px;
        margin-top: -50px;
    }
    #main-content {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #main-content h1 {
        text-align: left;
        margin-top: 20px;
        margin-left: 50px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;  
        font-size: 25px;
    }
    #card-general {
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/fondoformulario.png);
        background-blend-mode: lighten;
        background-size: cover; /* Para que la imagen cubra todo el div */
        background-position: center; /* Para centrar la imagen */
        background-repeat: no-repeat; 
        width: 560px;
        height: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 130px;
        margin-top: 150px;
        border-radius: 20px;
    }
    #card-general  a{
        text-decoration: none;
    }
    #card-general img{
        width: 50px;
        height: 50px;
        float: left;
        margin-top: -70px;
        margin-left: 5px;
    }
    #card-general form {
        margin-top: -250px; /* Ajusta el margen superior del formulario según tus necesidades */
        height: 300px;
        margin-left: 20px;
    }
    
    #card-general label {
        display: block;
        font-size: 30px; /* Ajusta el tamaño de la fuente de las etiquetas según tus necesidades */
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #F5F5DC;
        margin-top: 10px;
    }
    #card-general input {
        font-family: 'Montserrat', sans-serif;
        background-color: #E3E2E2;
        width: 510px;
        height: 50px;
        font-size: 20px;
        box-sizing: border-box;
        margin-bottom: 10px; /* Añade espacio entre los inputs */
        border-radius: 10px;
        padding-left: 20px;
        border: none;
    }
    #estado h1{
        color: #F5F5DC;
        font-size: 30px;
    }
    #listo-btn{
        font-family: 'Montserrat', sans-serif;
        width: 250px;
        height: 50px;
        display: block;
        margin-left: 150px;
        margin-top: 100px;
        border-radius: 20px;
        border: none;
        background-color: #0085FF;
        font-size: 30px;
        color: #FFFFFF;
    }
}