@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}
body::after {
    content: "";
    background-color: #F8E7FF;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgba(239, 186, 255, 0.7);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
}
#sidebar h1 {
    font-size: 39px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    font-weight: 900;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #333333;
    color: #333333;
    text-align: center;
    cursor: pointer;
}
#sidebar ul li:last-child {
    border-bottom: none;
}
#main-content {
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main-content h1 {
    text-align: left;
    margin-top: 40px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#menu-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left; /* Cambia 'center' por 'left' */
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    border-bottom: 1px solid #333333;
}
#dashboard-button,
#carrito-button,
#metodos-button,
#visualizar-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left;
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    background-color: transparent;
    border: none;
}
#dashboard-button img,
#menu-button img,
#carrito-button img,
#metodos-button img,
#visualizar-button img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: -20px;
}
#dashboard-button a,
#menu-button a,
#carrito-button a,
#metodos-button a,
#visualizar-button a{
    text-decoration: none;
    color: #333333;
}

#lineahorizontal{
    background-color: #000000;
    border-top: 2px solid black;
    margin: 5px 0 0 0;
    width: 1181px;
    float: center;
}
#user-info {
    align-items: right;
    text-align: left;
}
#user-info a img{
    margin-left: 1060px;
    margin-top:-42px;
    height: 23px;
    width: 23px;
}
#user-info img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1100px;
    margin-top: -55px;
}
#plato-tarjeta{
    margin-top: 30px;
    margin-left: 60px;
    height: 650px;
    width: 1000px;
}
#plato-tarjeta h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
#plato-tarjeta  a{
    text-decoration: none;
}
#plato-tarjeta img{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 500px;
    margin-left: -50px;
}
#tarjetas-contenedor { /* Nuevo estilo para el contenedor de las tarjetas */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 600px;
}
#tarjeta{
    background-color: #BAEBC8;
    margin-top: 10px;
    height: 250px;
    width: 190px;
    display: inline-block;
    border-radius: 10px;
}
#tarjeta button{
    background-color: #0085FF;
    border-radius: 5px;
    border: none;
    width: 100px;
    display: block; /* Añade esta línea */
    margin: auto;
    cursor: pointer;
}
#tarjeta p{
    text-align: center;
    margin-top: -5px;
    display: inline-block;
}
#tarjeta a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#tarjeta b{
    margin-left: 10px;
}
@media (max-width: 720px){
    * {
        margin: 0;
        padding: 0;
    }
    body::after {
        content: "";
        background: url(../img/fondo.png);
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #sidebar {
        position: fixed;
        width: 100px;
        height: 100%;
        background: #F3DBC3;
        box-sizing: border-box;
        overflow: auto;
        box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
    }
    #sidebar h1{
        display: none;
    }
    #sidebar h2{
        display: none;
    }
    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #sidebar ul li:last-child {
        border-bottom: none;
        margin-left: -10px;
    }
    #menu-button{
        background-color: #FFFBF0;
        cursor: pointer;
        float: left;
        height: 70px;
        width: 65px;
        border-radius: 0 10px 10px 0;
        border: 3px solid #333333;
    }
    #dashboard-text,
    #menu-text,
    #carrito-text,
    #metodos-text,
    #visualizar-text {
        display: none;
    }
    #dashboard-button img,
    #menu-button img,
    #carrito-button img,
    #metodos-button img,
    #visualizar-button img {
        width: 40px;
        height: 40px;
    }
    #logoizquierdo{
        display: none;
    }
    #lineahorizontal{
        background-color: #000000;
        border-top: 2px solid black;
        margin: 10px 0 0 -20px;
        width: 100%;
        float: center;
    }
    #user-info {
        align-items: right;
        text-align: left;
    }
    #user-info h2 {
        display: none;
    }
    #user-info p {
        display: none;
    }
    #user-info a img{
        margin-left: 400px;
        margin-top:-40px;
        height: 23px;
        width: 23px;
    }
    #user-info img {
        position: absolute;
        width: 50px;
        height: 50px;
        margin-left: 450px;
        margin-top: -50px;
    }
    #main-content {
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #main-content h1 {
        text-align: left;
        margin-top: 20px;
        margin-left: 50px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;  
        font-size: 25px;
    }
    #plato-tarjeta{
        margin-top: 30px;
        margin-left: 60px;
        height: 1050px;
        width: 540px;
    }
    
    #plato-tarjeta h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 30px;
        margin-left: 20px;
        margin-top: 10px;
    }
    #plato-tarjeta  a{
        text-decoration: none;
    }
    #plato-tarjeta img{
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 1000px;
        margin-left: -40px;
    }
    #tarjetas-contenedor { /* Nuevo estilo para el contenedor de las tarjetas */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 1000px;
    }
    
    #tarjeta{
        background-color: #BAEBC8;
        margin-top: 10px;
        height: 260px;
        width: 180px;
        display: inline-block;
        border-radius: 10px;
    }
    #tarjeta button{
        background-color: #0085FF;
        border-radius: 5px;
        border: none;
        width: 100px;
        display: block; /* Añade esta línea */
        margin: auto;
        cursor: pointer;
    }
    #tarjeta p{
        text-align: center;
        margin-top: -5px;
        display: inline-block;
    }
    #tarjeta a{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-decoration: none;
    }
    #tarjeta b{
        margin-left: 10px;
    }
}