<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>
    <div id="sidebar">
        <h1>Sistema</h1>
        <h2>Administrativo</h2><br>
        <ul>
            <li>
                <button id="sidebar-button">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="mi-restaurante">Mi restaurante</span>
                </button>
            </li>
        </ul>
    </div>
    <div id="main-content">

        <h1>Mis restaurantes</h1>

        <div id="card-container">

            <div id="card2">
                <h3>Agregar<br> restaurante</h3>
                <button><a href="/agregar"><img src="/img/plus.png"></a></button>
            </div>
            
        </div>
    </div>
</body>
</html>

