<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulariomenu.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>

    {{#each lista}}

    <form action="/entradas/agregar/{{idRestaurante}}" method="get"></form>
    {{/each}}

    <div id="sidebar">
        <h1>Bienvenido</h1><br>
        <ul>
            <li>
                <button id="dashboard-button">
                <a href="/dashboard">
                    <img src="/img/iconocasa.png" alt="restaurante"><span id="dashboard-text">Dashboard</span>
                </a>
                </button>
                <button id="menu-button">
                    <a href="/crearMenu">
                        <img src="/img/menuicono.png" alt="creacion"><span id="menu-text">Creacion de menus</span>
                    </a>
                </button>
                <button id="carrito-button">
                    <a href="/carrito">
                        <img src="/img/carritoicono.png" alt="carrito"><span id="carrito-text">Carrito de compras</span>
                    </a>
                </button>
                <button id="metodos-button">
                    <a href="/metodos">
                        <img src="/img/tarjetaicono.png" alt="metodos"><span id="metodos-text">Metodos de pagos</span>
                    </a>
                </button>
                <button id="visualizar-button">
                    <a href="/visualizar">
                        <img src="/img/visulaizarmenuicono.png" alt="visualizar"><span id="visualizar-text">Visualizar menu</span>
                    </a>
                </button>
            </li>
        </ul>
    </div>

    <div id="main-content">

        <h1>Creacion de la Entrada</h1>

        <div id="user-info">
            <img src="/img/usuarioicono.png">
        </div>

        <div id="lineahorizontal"></div>

        <div id="card-container">
            <a href="/crearMenu/{{idRestaurante}}"><img src="/img/atras.png"></a>
            
            <div id="card1">

                <form action="/entradas/agregar/{{idRestaurante}}" method="post"> 
                    <label for="nombre">Nombre de la entrada</label><br>
                    <input type="text" id="name" name="nombre" pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+" 
                    title="Solo se permiten letras y espacios" placeholder="Ingrese el nombre de la entrada" required>
                    <label for="location">Precio ($)</label><br>
                    <input type="text" id="location" name="precio" placeholder="Ingrese el precio de la entrada" 
                    pattern="\d+\.\d{1,2}" title="Ingrese en precio correcto Ejemplo: 10.0" required>
                    <label for="location">Descripcion</label><br>
                    <input type="text" id="location" name="descripcion" placeholder="Descripcion de la entrada" required>
                    <label for="location">Estado</label><br>
                    <input type="text" id="location" name="estado" 
                    pattern="(activo|desactivo)" title="Solo se admite: activo o desactivo" placeholder="Ingrese el estado" required>

                    <br>
                    <button id="listo-btn" type="submit">Guardar</button>

                </form>
            </div>
        </div>
        
    </div>
    
</body>
</html>


